.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 90vw;
  gap: 30px;
  margin-bottom: 70px;
}

.form__con {
  width: 90vw;
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.input__con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
}
.input__con > label {
  font-size: 18px;
  font-weight: 400;
}
.input__con > input {
  font-size: 18px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #373f44;
  transition: 250ms;
}
.input__con > input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #373f44;
  transition: 250ms;
}
.input__con > input::placeholder {
  font-size: 15px;
  font-style: italic;
}
.textarea__con > textarea {
  background-color: transparent;
  border: 1px solid #373f44;
  transition: 250ms;
}
.btn {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background-color: #373f44;
  color: white;
  font-size: 18px;
}
