.container {
  width: 100%;
  height: 60px;
  background-color: #536878;
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  padding: 0 10px;
  transition: all 250ms;
  z-index: 1000;
}
.icons__con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icons__con > a {
  text-decoration: none;
  color: white;
}
