@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kalam&family=Kaushan+Script&family=Lobster&family=Roboto+Condensed&family=Roboto:wght@100;300;400&family=Ropa+Sans:ital@1&family=Stick+No+Bills&display=swap");

.container {
  margin: 2rem 1rem;
}

.container > form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input__con {
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .input__con > input[type="radio"] {
  appearance: none;
  color: #373f44;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background-color: white;
  border: none;
  margin: 5px;
  border: 1px solid #373f44;
}
.input__con > input[type="radio"]:checked {
  appearance: none;
  color: #373f44;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  background-color: #373f44;
  outline: 2px solid white;
} */

.status__con {
  display: flex;
  align-items: center;
  width: 100%;
}
.status {
  transition: all 250ms;
  overflow: hidden;
}
/* .btn__con {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
} */
.btn__con {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-top: 20px;
}

.btn__con > div > button {
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  background-color: #373f44;
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto Condensed", sans-serif;
}
