@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kalam&family=Kaushan+Script&family=Lobster&family=Roboto+Condensed&family=Roboto:wght@100;300;400&family=Ropa+Sans:ital@1&family=Stick+No+Bills&display=swap");

a.link {
  text-decoration: none;
  color: black;
}
.container {
  background-color: rgba(255, 255, 255, 0.301);
  padding: 2rem 2.5rem;
  border-radius: 8px;
  border: 2px solid white;
  text-align: center;
  min-width: 90vw;
  margin: 20px;
}
.container > h2 {
  padding-bottom: 0.5rem;
  color: #373f44;
  font-family: "Roboto", sans-serif;
}
.container > p > span {
  padding-left: 1rem;
}
.container > p {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
.communicate {
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  color: #2d3336;
  font-size: 1.7rem;
  margin: 1.2rem 0.8rem;
}
