a.link {
  text-decoration: none;
  color: black;
}
.container {
  background-color: rgba(255, 255, 255, 0.301);
  padding: 2rem 2.5rem;
  border-radius: 8px;
  border: 2px solid white;
  text-align: center;
  min-width: 90vw ;
  margin: 20px;
}
.container > h2 {
  padding-bottom: 0.5rem;
}
.container > p > span {
  padding-left: 1rem;
}
